$font-stack:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$white-color : #fff;
$primary-color: #2196f3;
$secondary-color: #1769aa;
$dark-color: #212529;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;
$warning-color : #ff9100;

$xl : 1200px;
$lg : 992px;
$md : 768px;
$sm : 576px;

@function set-text-color($bgcolor){
  @if(lightness($bgcolor) > 65){
    @return $dark-color;
  }@else {
    @return $white-color;
  }
}

@mixin set-background($color){
  background-color : $color;
  color : set-text-color($color);
}

@function set-hover-color($color){
  @if set-text-color($color) == $dark-color {
    @return lighten($dark-color, 30%);
  }@else{
    @return darken($white-color, 30%);
  }
}

$spacesamount : (1,2,3,4,5);

@each $space in $spacesamount {
  .m-#{$space}{
    margin : #{$space}rem;
  }
  .mx-#{$space}{
    margin : 0 #{$space}rem;
  }
  .my-#{$space}{
    margin : #{$space}rem 0;
  }
  .mt-#{$space}{
    margin-top : #{$space}rem;
  }
  .mr-#{$space}{
    margin-right : #{$space}rem;
  }
  .mb-#{$space}{
    margin-bottom : #{$space}rem;
  }
  .ml-#{$space}{
    margin-left : #{$space}rem;
  }
  .ml-auto{
    margin-left :auto;
  }
  .mr-auto{
    margin-right : auto;
  }
  .p-#{$space}{
    padding : #{$space}rem;
  }
  .px-#{$space}{
    padding : 0 #{$space}rem;
  }
  .py-#{$space}{
    padding : #{$space}rem 0;
  }
  .pt-#{$space}{
    padding-top : #{$space}rem;
  }
  .pr-#{$space}{
    padding-right : #{$space}rem;
  }
  .pb-#{$space}{
    padding-bottom : #{$space}rem;
  }
  .pl-#{$space}{
    padding-left : #{$space}rem;
  }
}

$gridlist : (1,2,3,4,5,6,7,8,9,10,11,12);

@each $grid in $gridlist {
  .col-#{$grid}{
    flex : 1 0  $grid*(1/12*100%);
    max-width : $grid*(1/12*100%);
  }
  .col{
    flex-grow: 1; 
    ms-flex-preferred-size: 0;
    flex-basis : 0;
    max-width : 100%;
    -ms-flex-positive: 1;
  }
  .col-xl-#{$grid}{
    flex : 1 0  $grid*(1/12*100%);
    max-width : $grid*(1/12*100%);
  }
  .col-lg-#{$grid}{
    flex : 1 0  $grid*(1/12*100%);
    max-width : $grid*(1/12*100%);
  }
  .col-md-#{$grid}{
    flex : 1 0  $grid*(1/12*100%);
    max-width : $grid*(1/12*100%);
  }
  .col-sm-#{$grid}{
    flex : 1 0  $grid*(1/12*100%);
    max-width : $grid*(1/12*100%);
  }
  .col-xs-#{$grid}{
    flex : 1 0  $grid*(1/12*100%);
    max-width : $grid*(1/12*100%);
  }
}


