<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../dist/css/style.min.css">
  <title>Landing Page 1</title>
</head>
<body>
  <div class="showcase">
    <div class="container">
      <div class="navbar">
        <div class="navbar-brand">Welcome</div>    
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#" class="nav-link active">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link active">About</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link active">Contact</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link active">Services</a>
          </li>
        </ul>   
      </div>
      <div class="showcase-content">
        <div>
          <h1>Make Your Marketing Real</h1>
          <p class="my-1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, officiis. Aut veniam nostrum nesciunt tempora similique porro repellendus et maiores.
          </p>
          <a href="#" class="btn btn-primary">Learn more</a>
          <a href="#" class="btn btn-danger">Sign up</a>
          <!-- <a href="#" class="btn btn-warning">Sign up</a>
          <a href="#" class="btn btn-success">Sign up</a>
          <a href="#" class="btn btn-secondary">Sign up</a>
          <a href="#" class="btn btn-dark">Sign up</a>
          <a href="#" class="btn btn-light">Sign up</a> -->
        </div>
        <div>
          <img src="https://themesbrand.com/zooki/layouts/images/home-2-img.png">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 col-md-3 col-xl-2">Lorem ipsum dolor sit amet.</div>
    <div class="col-3 col-md-6 col-xl-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum inventore repellat omnis impedit repudiandae rerum fugit, numquam dolor distinctio nihil dignissimos tenetur, cumque accusantium cum quos facilis! Hic, nobis pariatur?</div>
    <div class="col-2 col-md-3 col-xl-2">Lorem ipsum dolor sit amet.</div>
    <!-- <div class="col">Lorem ipsum dolor sit amet.</div>
    <div class="col">Lorem ipsum dolor sit amet.</div>
    <div class="col">Lorem ipsum dolor sit amet consectetur,</div>
    <div class="col">Lorem ipsum dolor sit amet.</div>
    <div class="col">Lorem ipsum dolor sit amet.</div> -->
  </div>
</body>
</html>